h1 ToDo List
form(onsubmit="component.handleAddTask(window.event)")
    input(id="currentText" type=text placeholder="write you task"
        onkeyup="component.handleTaskInput(window.event)" value=currentText)
    button(type=submit) Add
div
    ol
        each task in tasks
            li
                span(data-id=task.id class=getTaskClass(task.completed)
                    onclick="component.handleToggleCompleted(window.event)")
                    = task.text
                |&nbsp;
                a(href="#" data-id=task.id onclick="component.handleRemoveTask(window.event)") x
